.draft {
    width: 100%;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.draft .header {
    text-align: center;
    font-family: cursive;
}

.draft .list {
    list-style: none;
}

.draft .editor,
.draft .add-draft,
.draft .list {
    padding: 10px;
    margin: 0;
    background-color: #eee;
}

.draft .list li {
    cursor: pointer;
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
    background-color: #fff;
}

.draft .list li:last-child {
    margin-bottom: 0;
}

.draft .list li:hover {
    background-color: #f6f6f6;

}

.draft .editor textarea {
    min-height: 200px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    max-width: 100%;

    font-size: 16px;
}

.draft button {
    border: none;
    background: slategrey;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.draft button:active {
    background: darkslategrey;
}
