.container {
    width: 400px;
    margin: auto;
}

.footer {
    font-family: cursive;
}

.footer a {
    text-decoration: none;
    color: 'darkslategrey';
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        margin: 0;
    }
}
